* {
    margin: 0;
    padding: 0;
    transform-origin: top left;
}

header {
  background-color: #2f343d;
  padding: 20px;
  height: 70px;
  width: 100vw;
}

header p {
  font-size: 2em;
  color: white;
  font-size: 2em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px
}

.content p {
  width: 50%;
  box-sizing: border-box;
}

.content .loader {
  width: 50%;
  box-sizing: border-box;
}
